body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stack-ctn {
  width: 50%;
  padding: 2%;
  
}

.stack-inner {
  padding: 2% 5%;
}

.forms-ctn {
  width: 100%;
  background-color: #1F2833;
  color: white;
}

option {
  color: black;
}

.edit {
  border: 1px solid #CBD5E0;
  width: 100%;
  margin-bottom: 1%;
  min-height: 50px;

}

.in_edit {
  min-height: 100px;
}

.nav-ctn {
  width: 80%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar {
  width: 95%;
}
