body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* LandingPage */

/* .main-stack {
  width: 100%;
}

.top-ctn {
  width: 100%;
  height: 100vh;
  justify-content: space-between;
}


.wave {
  width: 45%; 
  opacity: 90%;
}

.middle {
  width: 100%;
}

.content-box {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  width: 100%;
} */

.custom-heading {
  font-size: 15rem; /* Adjust the size as per your requirements */
}

.asd{
  width: 100%;
  background-color: #f5f5f5;
}



/* NavBar */

/* .nav-ctn {
  width: 100%;
}

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0.7rem 8rem;
}
 */


.logo {
  display: flex;
  align-items: center;  /* This aligns the text and icon in a line */
  font-weight: bold;
  font-size: 1.5em;
}


/* GeneratedMain */

.stack-ctn {
  width: 50%;
  padding: 2%;
  
}

.stack-inner {
  padding: 2% 5%;
}

.forms-ctn {
  width: 100%;
}

option {
  color: black;
}



