.stack-ctn {
    width: 50%;
    padding: 2%;
    
}

.stack-inner {
    padding: 2% 5%;
}

.forms-ctn {
    // margin-top: 5%;
    width: 100%;
    background-color: #1F2833;
    color: white;
}

option {
    color: black;
}

.edit {
    border: 1px solid #CBD5E0;
    width: 100%;
    margin-bottom: 1%;
    min-height: 50px;

}

.in_edit {
    min-height: 100px;
}